<!DOCTYPE html>
<html language='ja'>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>general bot</title>
        <meta name="theme-color" content="#efabff">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="generalbot official site">
        <meta name="keywords" content="general bot">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/toggle.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js" crossorigin="anonymous" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <div class="titlee">
                <div class="kka">
                    <h1 class="title">general bot</h1>
                </div>
                <div class="kkaa">
                    <h1 class="login">login</h1>
                </div>
            </div>
        </header>
        <main class="main"> 
        <h1 class="command1">test</h1>
            <form method="POST" action="/apply" name="command1">
                <div class="switchArea">
                    <input name="command1" type="checkbox" id="toggle1" <%= check %>>
                    <label for="toggle1"><span></span></label>
                    <div id="swImg"></div>
                </div>
                <input name="apply" type="submit" value="変更を保存">
            </form>
        </main>
    </body>
</html>