<!DOCTYPE html>
<html language='ja'>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>general bot</title>
        <meta name="theme-color" content="#efabff">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="generalbot official site">
        <meta name="keywords" content="general bot">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js" crossorigin="anonymous" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <div class="titlee">
                <div class="kka">
                    <h1 class="title">general bot</h1>
                </div>
                <div class="kkaa">
                    <h1 class="login"><a href="https://discord.com/api/oauth2/authorize?client_id=878264570370748416&redirect_uri=localhost%3A3000&response_type=code&scope=guilds%20identify">login</a></h1>
                </div>
            </div>
        </header>
        <main class="main"> 
        </main>
    </body>
</html>